/*
CSS template for IMS 201 e-book chapter
Elias Tzoc - November 2014
*/

/* Title page */
html, body { 
height:100%; 
margin:0; 
padding:0; 
hyphenate:none;
-webkit-hyphens:none;
word-wrap:normal;
}

/* Generic styles */
h1 {
font-size: 2em;
}

h3 {
font-size: 1.2em;
border-bottom: 1px dotted #333;
}

p {
text-indent: 2em;
}

blockquote p {
text-indent: 0em;
border-left: 10px solid #ccc;
padding-left: 10px;
}
