/*

A custom and test CSS file for IMS 201 e-book project!
Elias Tzoc - November 2014

*/


	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #F6F4F3;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #4E4D4D;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #8A0808;
	}
	
	h3 {
		padding-top: 10px;
		margin-bottom: 5px;
		border-bottom: 1px dotted #ccc;
	}
	
	h4 {
		font-weight: 500;
		margin-top: -3px;
	}
	
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	



/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu-chapters {
		background: #8A0808;
}

#menu-chapters ul
	{
		margin: 0;
		padding: 10px 0px 10px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
#menu-chapters li
	{
		display: inline-block;
	}
	
#menu-chapters a
	{
		display: block;
		padding: 0.5em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}
	

	#menu-chapters a:hover
	{
		color: #ccc;
		text-decoration: underline;
	}

blockquote {
border-left: 5px solid #ccc;
padding-left: 5px;
line-height: 25px;
}


/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#main-page
	{
		overflow: hidden;
		padding: 1em 0em;
		border: 1px solid #E5E5E5;
		width: 800px;
		margin: 0px auto;
		background: #fff;
		padding: 20px;
	}

	#main-page p {
		text-indent:2em;
	}
	
	#main-page 	a
	{
		color: #8A0808;
		text-decoration: none;
		border-bottom: 1px dotted #ccc;
	}
	
	#main-page a:hover
	{
		color: #000;
		text-decoration: underline;
		border-bottom: 0px;
	}
	
	#ibooks a {
	border-bottom: 0px;
	}
	
/*********************************************************************************/
/* Contact                                                                       */
/*********************************************************************************/

	#contact
	{
		overflow: hidden;
		padding: 2em 0em;
	}
	
	#contact p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#contact a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

